.principal{
    background-color: #ccc;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

#banner{
    width: 100%;
}


p {
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

.beneficios{
    background-color: pink;
    padding: 20px;
}

.listabeneficios{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
} 


.itens{
    font-style: italic;
}

.imagem{
    width: 50%;
}

.rodape{
    margin:0;
    height:200px;
    background-color: black;
}
.texto-rodape{
    padding:50px;
    font-size:30px;
    color:white;
    text-align: center;
}